<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>iDatalabs Takehome Problem - Michael Stokley</title>
    <link rel="stylesheet" href="../static/jquery-ui.css">
</head>

<body>

    <div class="ui-widget">
        <label for="product">Enter a product: </label>
        <input id="product">
        <input type="submit" value="View Companies" id="viewCompanies">
    </div>

    <!-- scripts -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script
        src="../static/script.js"></script>
</body>
